@import "../../../devs-ui-kit/DevsUIKit";

.app_menu_item {
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 15px 10px !important;
  color: $color-secondary;
  user-select: none;
  width: 100% !important;

  &__icon {
    flex: none;
    display: flex;
    font-size: 29px;
    justify-content: center;
    align-items: center;
  }

  &__content {
    flex: auto;
  }

  &:hover {
    color: $color-primary;
  }
}
