@import "../../../devs-ui-kit/DevsUIKit";
.app_universal_filter_item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  flex: none;
  color: $color-secondary;
  & > * {
    flex: auto;
  }
}
