.app_skill_item {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  &__key {
    flex: 0.5;
  }

  &__caption {
    flex: auto;
  }

  &__mark {
    flex: 1;
  }

  &__delete, &__create {
    flex: none;
    align-self: end;
  }
}
